@charset "UTF-8";
h1 {
    font-family: sans-serif;
    font-size: 2.6em;
}
#faq {
    display: flex;
    flex-flow: column;
    width: 60%;
    margin: 50px;
    font-family: sans-serif;
}
.faq-question {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.112);
    padding: 15px;
    font-weight: bold;
    font-size: 1.3em;
}
.faq-question div {
    cursor: pointer;
}
.faq-answer {
    display: none;
    font-size: 0.9em;
    padding: 0px 15px 15px 15px;
}
.more {
    display: none;
}
.less {
    display: block;
}